<html>
<head>
	<title>
		超市经销存系统－登录
	</title>
</head>
<body>
	<div>
		<span>超市经销存系统</span>
		<span>ver:1.0</span>
	</div>
	<form action="/login" method="post">
		<input name="login_id" type="text"/>
		<input name="password" type="password"/>
		<input type="submit" value="登录"/>
	</form>
</body>
</html>